@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;800&display=swap');

* {
  box-sizing: none;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

body {
  background-color: #042c4f;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  top: -70px;
  bottom: 0;
  z-index: -1;

  /* display: flex;
  justify-content: center; */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 32px !important;
  font-weight: 700;
}

p {
  text-align: center;
  max-width: 500px;
  font-size: 1rem;
  line-height: 1.6rem;
}

input {
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px 10px;
  color: #042c4f;
}

input,
.output {
  text-align: center;
}

button {
  padding: 10px 10px;
  background-color: transparent;
  border: none;
  border: 1px solid white;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  border-radius: 7px;

}
button:hover {
  background-color: white;
  color: #042c4f;
}

.output div {
  display: none;
}

.clicked div:last-child {
  display: block !important;
  color: white !important;
}
